/*Personal Web Page Style Sheet */
body {
  background-color: #d3d3d3
}

h1 {
  font-weight: bold;
  background-color: #f0ffff;
  text-align: center;
  margin-bottom: 50px;
  font-family: serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2, h3 {
  background-color: #f0ffff;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: sans-serif;
  text-align: center;
  line-height: 25px;
}

a:link {
  color: #000000;
}

a:hover {
  color: #ffffff;
}

a:visited {
  color: #f0ffff;
}

p {
  font-family: serif;
  margin: 25px;
}

.row {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.column {
  padding: 20px;
}