/*Personal Web Page Style Sheet */
h1 {
  font-weight: bold;
  background-color: #f0ffff;
  text-align: center;
  margin-bottom: 50px;
  font-family: serif;
}

h2, h3 {
  background-color: #f0ffff;
  text-align: center;
  font-family: sans-serif;
}

ul {
  list-style-type: square;
  padding-bottom: 25px;
  padding-top: 25px;
  font-family: sans-serif;
}

a:link {
  color: #5f9ea0
}

a:hover {
  text-decoration: #ffffff;
}

p {
  font-family: sans-serif;
  margin: 25px;
}